/*Ma première feuille CSS*/

body {
    margin: 0;
    padding: 0;
    background-color: beige;
    text-align: center;
}

ul{
    list-style-type: none;
}

p{
    color: black;
}

.contactmail{
    color:blue;
}

#para_objectif_site{
    color: green;
}

